.category-section h2 {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin: 1px 0 5.5px;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--primary-color);
  text-shadow: var(--text-shadow);
}

.category-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-section a {
  color: var(--text-color);
  text-decoration: none;
  padding: 2.5px;
  border-radius: 6px;
  font-size: 1.15rem;
  transition: all 0.3s ease;
}

.category-section a:hover {
  background-color: var(--hover-color);
  transform: translateX(-8px);
  border: 1px solid var(--primary-color);
}
