:root {
  --primary-color: #17ca07;
  --text-color: #ffffff;
  --bg-color: rgba(0, 0, 0, 0.98);
  --text-shadow: 0 0 5px rgba(23, 202, 7, 0.7);
  --hover-color: rgba(23, 202, 7, 0.1);
}

/* Neo menu and category sections for 768px screens */


/* Neo menu and category sections for 1024px screens */


/* Neo toggle button */