/* NeoToggleButton.css */

.neo-nav-btn {
  position: relative !important;
  top: clamp(0, 17vh, 150px) !important;
  left: clamp(182vh, 17vh, 150px) !important;
  z-index: 1010 !important;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5.5px;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.neo-nav-btn span {
  display: block;
  width: 16px;
  height: 3.2px;
  background-color: var(--primary-color);
  margin: 6px 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 3.5px rgba(23, 202, 7, 0.6);
}

.neo-nav-btn.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.neo-nav-btn.open span:nth-child(2) {
  opacity: 0;
}

.neo-nav-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}
