  :root {
    --ofair-width: 50vh;
    --ofair-height: 50vh;
    --primary-color: #17ca07;
    --bg-color: black;
    --text-color: white;
    --rectangle-width: 26.5vw;
    --rectangle-height: 30vh;
  }

  html, body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .app-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  #matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
  }

  .ofair {
    position: fixed;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 35vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    animation-delay: 5.55s;
    animation: neonGlow 3.5s ease-in-out infinite;
  }

  @keyframes neonGlow {
    0%, 100% {
      filter: drop-shadow(0 0 6px #2adef2);
    }
    50% {
      filter: drop-shadow 0 0 24px #2adef2, 0 0 48px #2adef2;
    }
  }

  @keyframes clickEffect {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(5.05);
    }
  }

  .rectangle {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #17ca07;
    opacity: 0;
    animation: fadeIn 2s forwards, glow 1.5s infinite alternate, float 3s infinite alternate ease-in-out;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    will-change: transform;
    cursor: pointer;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: var(--rectangle-width);
    height: var(--rectangle-height);
  }

  .rectangle.first {
    top: 46.5%;
    left: 70%;
    transform: translate(-50%, -50%) rotateY(20deg);
    animation-delay: 1.525s;
  }

  .rectangle.second {
    top: 46.5%;
    right: 70%;
    transform: translateY(-50%, -50%) rotateY(-20deg);
    animation-delay: 1.525s;
  }

  .rectangle.third {
    top: 19.5%;
    left: 36.5%;
    transform: translate(-50%, -50%);
    animation-delay: 1.55s;
  }

  .rectangle.transparent {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .rectangle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(0); /* No blur by default */
    z-index: -1;
    transition: filter 1.5s ease; /* Smooth transition */
  }

  .rectangle:hover::before {
    filter: blur(5px); /* Apply blur on hover */
  }

  .rectangle:hover {
    box-shadow: 0 0 30px #17ca07;
    border-color: #17ca07;
  }

  .hackingTitle {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 1.35rem;
    font-weight: bold;
    text-shadow: 0 0 10px #ffffff;
    opacity: 0;
    transition: opacity 2.5s ease, transform 2.5s ease;
    z-index: 1; /* Ensure title is above blur effect */
  }

  .rectangle:hover .hackingTitle {
    opacity: 1;
    font-weight: bold;
    text-shadow: 0 0 10px #ffffff;
    transform: translateX(-50%) scale(1.5);
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes float {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  }

  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .rectangle {
      width: 35vw; /* Adjusting for smaller screens */
      height: 25vh; /* Keeping the aspect ratio */
    }
  }

  @media (max-width: 480px) {
    .rectangle {
      width: 45vw;
      height: 20vh;
    }

    .hackingTitle {
      font-size: 1rem;
    }
  }

  @media (min-aspect-ratio: 21/9) {
    .ofair {
      width: 33vw;
      height: 60vh;
      left: 50%;
    }
  }

  @media (min-aspect-ratio: 16/9) and (max-aspect-ratio: 21/9) {
    .ofair {
      width: 33vw;
      height: 60vh;
    }
  }