.choose-your-pill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pill-image-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
  }
  
  .full-image {
    width: 100%;
    display: block;
  }
  
  .half {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    cursor: pointer;
    z-index: 2;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .pill-info {
    margin-top: -10px;
    margin-left: 40px;
    padding: 40px;
    max-width: 600px;
    text-align: center;
    border-radius: 12px;
  }
  
  .pill-info.red {
    background: #330000;
    color: #ff4d4d;
  }
  
  .pill-info.blue {
    background: #001f33;
    color: #4da6ff;
  }
  
  